<h1>Shows the current flight selector</h1>
<h2>Departure City <%= @flight.departure_city %></h2>
<h2>Arrival City <%= @flight.arrival_city %></h2>
<h2>Departure Date <%= @flight.departure_date %></h2>

<h2>Departure time   <%= @flight.departure_time_1 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_2 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_3 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_4 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_5 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_6 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_7 %>:00</h2>
<h2>Departure time   <%= @flight.departure_time_8 %>:00</h2>
